{% load static %}
{% load cache %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static  'bootstrap/css/bootstrap.css' %}" rel="stylesheet" >
        <title>{% block title %}ALL NEWS{% endblock %}</title>
    </head>
    <body>

        {% include 'inc/_nav.html' %}

        <div class="container mt-3">
            <h1>{{ title }}</h1>

            <div class="row">

                {% comment %} {% cache 60 sidebar %} {% endcomment %}
                    {% block sidebar %}SIDEBAR{% endblock  %}
                {% comment %} {% endcache %} {% endcomment %}

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert" >
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>

                    {% endfor %}

                {% endif %}

                {% block content %}CONTENT{% endblock  %}
                

            </div>
        
        </div>

        <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
    </body>
</html>