{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static  'bootstrap/css/bootstrap.css' %}" rel="stylesheet" >
        <title>{% block title %}ALL NEWS{% endblock %}</title>
    </head>
    <body>

        {% include 'inc/_nav.html' %}

        <div class="container mt-3">
            <h1>{{ title }}</h1>

            <div class="row">

                {% block sidebar %}SIDEBAR{% endblock  %}
                {% block content %}CONTENT{% endblock  %}
                

            </div>
        
        </div>

        <script src="{% static 'bootstarp/js/bootstrap.bundle.js' %}"></script>
    </body>
</html>